
<div class="container body-content span=8 offset=2">
    <div class="well">
        <form class="form-horizontal" method="POST">
            <fieldset>
                <div class="text-center">
                    <h2>Register</h2>
                    <img src="../images/login.png" height="25%" width="25%" alt="Register Image"/>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="inputEmail">Email</label>
                    <div class="col-sm-4 ">
                        <input type="text" class="form-control" id="inputEmail"  name="email" required value="{{this.user.email}}" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="inputFullName">Full Name</label>
                    <div class="col-sm-4 ">
                        <input type="text" class="form-control" id="inputFullName" required name="fullName" value="{{this.user.fullName}}" readonly>
                    </div>
                </div>
                <!--TODO -->
                <!--<div class="form-group">
                    <h3 class="text-center">Change Password</h3>
                    <label class="col-sm-4 control-label" for="inputPassword">New Password</label>
                    <div class="col-sm-4">
                        <input type="password" class="form-control" id="inputNewPassword" placeholder="New Password" required name="newPassword">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Confirm New Password</label>
                    <div class="col-sm-4">
                        <input type="password" class="form-control" id="inputNewPassword" placeholder="Confirm New Password" required name="repeatedPassword">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-4">
                        <button type="reset" class="btn btn-default">Cancel</button>
                        <button type="submit" class="btn btn-primary">Reset</button>
                    </div>
                </div>-->
            </fieldset>
        </form>
    </div>
</div>